<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <b>Portfolio do Alysson</b>
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="../views/Projects.html">Projetos</a>
          <a href="../views/About.html">Sobre mim</a>
          <a href="../views/Contacts.html">Contatos</a>
        </div>
      </div>
    


      <div class="about">
        <div class="row">
        <div class="col-md-6 col-xs-12">
        </br>
          <h2>Sobre mim</h2>
          <a href="https://github.com/alymago" class="img">
            <img src="../img/me.png" alt="logo github" width="200px" height="200px" style="border-radius:5px">
          </a>
          <br><br>
          <p class="body-text">
            Olá, meu nome é Alysson, tenho 22 anos e, se você está lendo este meu portfólio, é porque compartilhamos a mesma paixão pela programação. É um prazer conhecê-lo(a)!
          </p>
          <br>
          <p class="body-text">
            Abaixo, você encontrará alguns dos meus certificados e informações sobre minha formação:
          </p>
          
            <li class="body-text">Técnico em Informática - 2019 (Onde minha jornada na programação teve início)</li>
            <li class="body-text">Cursando Segurança da Informação - 2º Semestre</li>

          <img src="../img/html.png" alt="logo linkedin" class="img" title="html-5">
          <img src="../img/css.png" alt="logo instagram" class="img" title="css 3">
          <br><br><br><br>

          <a class="body-text" style="font-style: italic">"Você pode me ver do jeito que quiser, mas só eu posso te mostrar quem realmente sou."</a>

        </div>
        </div>
        <br><br><br>
</body>
</html>