<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <b>Portfolio do Alysson</b>
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="../views/Projects.html">Projetos</a>
          <a href="../views/About.html">Sobre mim</a>
          <a href="../views/Contacts.html">Contatos</a>
        </div>
      </div>
    


      <div class="contacts">
        <div class="row">
        <div class="col-md-6 col-xs-12">
        </br>
          <h2>Contatos</h2><br><br>
          <a class="body-text">Fique à vontade para entrar em contato comigo por meio de uma das minhas redes sociais:</a>
          <br><br><br>
          <a href="https://github.com/alymago" class="img">
            <img src="../img/github.png" alt="logo github">
          </a>
          <a href="https://br.linkedin.com/in/alysson-godoy-a385b1174" class="img">
            <img src="../img/linkedin.png" alt="logo linkedin">
          </a>
          <a href="https://instagram.com/alysson.2000" class="img">
            <img src="../img/instagram.png" alt="logo instagram">
          </a>
        </div>
        </div>
        <br><br><br>
</body>
</html>