<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <b>Portfolio do Alysson</b>
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="../views/Projects.html">Projetos</a>
          <a href="../views/About.html">Sobre mim</a>
          <a href="../views/Contacts.html">Contatos</a>
        </div>
      </div>
    


      <div class="projects">
        <div class="row">
        <div class="col-md-6 col-xs-12">
        </br>
          <h2>Projetos</h2>
          <div class="body-text">
            <a>Desde o momento em que me familiarizei com a programação, tenho criado diversos 'Hello World'. Mas brincadeiras à parte, gostaria de compartilhar alguns dos meus projetos:</a><br><br><br>
            <b style="font-size: 20px;">Calculadora de Arranjo de Caixas em Paletes.</b><br><br>
            <img src="../img/project01.png" alt="logo linkedin" class="img-project1"><br><br>
            <a>Este projeto foi desenvolvido durante o meu tempo na empresa em que trabalhava. Sua finalidade era calcular automaticamente a quantidade de itens em um pedido e informar ao usuário quantas caixas seriam necessárias para acomodar os produtos. Cada caixa tinha a capacidade de acomodar até 24 unidades de um item específico.</a><br>
            <a>Infelizmente, não estou mais na empresa, e o projeto acabou permanecendo em um estado incompleto, com apenas uma prévia disponível, sem ter sido finalizado.</a><br><br><br><br>
          
            <b style="font-size: 20px;">Cardápio Digital para um Restaurante</b><br><br>
            <video src="../img/project02.mp4" class="img-project2" autoplay loop muted></video><br><br>
            <a>Estou atualmente trabalhando na criação de um cardápio digital para um restaurante situado no centro de Araraquara. 
              Após visitar o estabelecimento, identifiquei que o cardápio digital existente não atendia completamente aos princípios de design de interface do usuário (UI) e experiência do usuário (UX).
              Apresentei a proposta a um dos proprietários, e ele imediatamente concordou com a ideia.
            </a><br>
            <a>Para tornar o Navbar responsivo, precisei adquirir conhecimentos em JavaScript, o que me permitiu implementar essa funcionalidade com sucesso."</a><br><br>
            <a>Atualmente, estou migrando este projeto para o uso de elementos &ltdiv&gt em vez de utilizar tabelas (&lttable&gt), e estou avançando bem com as atualizações. A conclusão está prevista em breve.</a><br><br>
          </div> 
        </div>
        </div>
        <br><br><br>
</body>
</html>